<!DOCTYPE html>
<html>
  <head>
    <title>DevMatch</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%   if flash[:notice] %>
      <script type="text/javascript">
        toastr.success(`<%= flash[:notice]%>`)
      </script>
    <% end %>

    <%   if flash[:alert] %>
      <script type="text/javascript">
        toastr.success(`<%= flash[:alert]%>`)
      </script>
    <% end %>

    
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><i class="fa fa-group"></i> DevMatch</a>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><%= link_to 'Comments', new_contact_path%></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>


      <%= yield %>

  </body>
</html>
